/* part 1: columns */
#columnOne {
    display: inline-block;
    width: 200px;
    height: 500px;
    background: blue;
}

#columnTwo {
    display: inline-block;
    width: 200px;
    height: 500px;
    background: red;
}

#columnThree {
    display: inline-block;
    width: 200px;
    height: 500px;
    background: yellow;
}

#columnFour {
    display: inline-block;
    width: 200px;
    height: 500px;
    background: green;
}
/* pushes button: "that was easy" */

/* part 2: measurements */
#floatCorgi {
    width: 15%;
    float: left;
}

#notLorem {
    font-size: 2em;
}

#thisTitle {
    font-size: 1rem;
}

#animeMeme {
    width: 250pt;
}

#why {
    width: 90vw;
    height: 90vh;
}